

<!-- <img src="../assets/logo.jpg" alt=""> -->
<!-- <button (click)="gotohome()"  class="btn btn-success" id="home" >HOME</button> -->

<!-- <button (click)="gotohome()"  class="btn btn-outline-light" id="one" >ADMIN LOGOUT</button> -->
<div >
    <!-- <video class="relative" src="../assets/production ID_4074432.mp4" autoplay ></video> -->
    <img class="relative" src="https://images.pexels.com/photos/9742918/pexels-photo-9742918.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="" width="100%">
    <div class="absolute">
        <app-customerlogin></app-customerlogin>
       <strong> <p>NOT YET REGISTERED?</p></strong>
        <button (click)="gotoregister()"  class="btn btn-warning" id="one">NEW REGISTER</button>
        <button (click)="signin()"  class="btn btn-btn-secondary" id="one" >ADMIN LOGIN</button>
        <br>
    </div>
    <div class="absolute2" style="margin-top:150px;">
        WELCOME TO MEDICARE <br>
        <br>

        Wherever the art of Medicine is loved, there is also a love of Humanity

  
       
        <!-- <h1>VOCAL FOR LOCAL</h1>
        <img width="770px" height="331px" style="background-color: rgba(255, 255, 255, 0.137);"  src="../assets/makeinindia.png" alt="">
        <h1>A MAKE IN INDIA INTIATIVE</h1> -->
    </div>







<!-- <router-outlet></router-outlet> -->
