<div class="container">
    <button (click)="gotohome()" class="btn btn-danger" id="one" style="margin-left: 90%;" >LOGOUT</button>
    <br>
    <br>
    <img src="../assets/success.gif" alt="">

     

<b><h1>CONGRATULATIONS {{name | uppercase}}</h1></b>
    <strong><p style="text-align:center;">PAYMENT CONFIRM..YOUR ORDER DETAILS HAS BEEN SENT TO PHONENUMBER</p></strong>

    <form>
        <table class="table table-striped table-bordered" style="text-align: center;">

            <thead>
                <tr>

                    <th>PRODUCT NAME</th>
                    <th>PRODUCT PRICE</th>
                    <th>PRODUCT TYPE</th>
                </tr>


            </thead>

            <tbody>
                <tr *ngFor="let br of product">

                    <td> {{br.pname}} </td>
                    <td> {{br.price | currency:'INR' }} </td>
                    <td>{{br.ptype}}</td>
                </tr>
            </tbody>
            <br>
        </table>
    </form>



    <strong>
        <h1 class="sum">TOTAL PRICE PAID : {{sum}} Rupee Only/-</h1>

    </strong>
    <button (click)="backtodashboard()" class="btn btn-primary" id="one">BACK TO PRODUCTS</button>
    <button (click)="printPage()" class="btn btn-primary" id="two">PRINT</button>
</div>