<img class="relative" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/types-of-doctors-1600114658.jpg" alt="" width="100%">
<div class="absolute">
 <strong><p style="text-align: center;font-size: xxx-large;color: bisque; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" >WELCOME ADMIN</p></strong>

<button (click)="gotoadminproducts()" class="btn btn-primary" >VIEW PRODUCTS</button>
<button (click)="gotoaddproducts()" class="btn btn-primary" >ADD PRODUCTS</button>
<button (click)="gotoadminviewcustomers()" class="btn btn-primary" >VIEW CUSTOMERS</button>
<button (click)="gotohome()" class="btn btn-warning" >LOG OUT</button>
</div>